/*
Requisitos:
O fundo da página deve ter uam cor suave.
O titulo <h1> deve ter uma cor diferente e estar centralizado.
O parágrafo <p> deve ter um tamanho de fonte maior e ser justificado.
A lista <ul> deve ter um espaçamento maior entre os itens.
A imagem <img> deve ter bordas arredondadas e um tamanho adequado.
A tabela <table> deve está estilizada.
o link <a> deve mudar de cor quando o usuário passar o mouse sobre ele
*/

body {
    background-color: rgb(129, 98, 141);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
.intro h1 {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
}
.intro p {
    font-size: 18px;
    text-align: justify;
    text-indent: 10px;
}
#botao {
    border: 3px solid;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0);
}
.form {
    color: rgba(255, 255, 255, 0.80);
}
.hob {
    margin-top: 25px;
    height: 350px;
    width: 360px;
    border: 4px solid black;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
}
.hob h1 {
    margin-left: 20px;
    font-size: 20px;
}
.hob ul li {
    margin: 20px;
} 
.hob img {
    height: 50px;
}

table {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 450px;
    width: 360px;
    border: 4px solid black;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
}
.paises {
    text-align: center;
    height: 50px;
    width: 100px;
}
.tab img {
    border: 3px solid black;
    border-radius: 15px;
    height: 125px;
}
.link {
    color: black;
    text-align: center;
}
a:hover {
    color: 
    rgba(255, 0, 21, 0.808);
    ;
}